@model List<TagViewModel> //<!DOCTYPE html>  <html>

<head>
    <title>Lista de Tags do Estabelecimento</title>
    <!-- Inclua aqui os links para os estilos CSS necessários para estilizar a página -->
</head>
<body>
    <h1>Lista de Tags do Estabelecimento</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tag ID</th>
                <th>Nome</th>
                <th>Tipo de Tag</th>
                <th>Ações</th>
                <!-- Adicione aqui as colunas que você deseja exibir na lista -->
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in Model)
            {
                <tr>
                    <td>@tag.Id</td>
                    <td>@tag.TagId</td>

                    <td>@tag.Nome</td>
                    <td>@tag.tipoTag</td>
                    <td>
                        <a asp-controller="Tag" asp-action="Editar" asp-route-id="@tag.Id">Editar</a> |
                        <a asp-controller="Tag" asp-action="Excluir" asp-route-id="@tag.Id">Excluir</a>
                    </td>
                    <!-- Exiba outras propriedades da TagViewModel conforme necessário -->
                </tr>
            }
        </tbody>
    </table>

    <!-- Adicione aqui elementos HTML adicionais, como botões ou links -->
    <a asp-controller="UsuarioEstabelecimento" asp-action="Index" class="btn-light">Voltar</a>

</body>
</html>
